<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tobykurien.batteryfu"
    android:installLocation="auto"
    android:versionCode="43"
    android:versionName="1.43" >

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="10" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" 
        android:theme="@style/Main">
        <activity
            android:name=".BatteryFu"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ModeSelect"
            android:label="@string/app_name"
            android:theme="@style/Main.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        
        <activity
            android:name=".BatteryMinder"
            android:label="@string/title_battery_minder"
            android:theme="@style/Main" >
        </activity>
        
        <!-- The data toggling receiver -->
        <receiver
            android:name=".DataToggler"
            android:process=":remote" >
            <intent-filter>
                <action android:name="batteryfu.intent.action.TOGGLE" />

                <data android:scheme="batteryfu" />
                <data android:scheme="nightmode" />
                <data android:scheme="travelmode" />
                <data android:scheme="standardmode" />
                <data android:scheme="offlinemode" />
                <data android:scheme="onlinemode" />
                <data android:scheme="sync" />
                <data android:scheme="data" />
            </intent-filter>
        </receiver>

        <!-- General receiver for Android intents -->
        <receiver android:name=".GeneralReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!-- Widget -->
        <receiver
            android:name=".ToggleWidget"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!-- Broadcast Receiver that will also process our self created action -->
                <action android:name="com.tobykurien.batteryfu.ToggleWidget.ACTION_WIDGET_RECEIVER" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/toggle_widget_provider" />
        </receiver>

        <service android:name=".ScreenService" >
        </service>
    </application>

</manifest>